<div class="container-fluid bg-warning">
  <!-- Section Header -->
  <section>
    <div class="container bg-primary-subtle">
      <div class="row">
        <div class="col-12">
          <h1>Header</h1>
        </div>
      </div>
    </div>
  </section>

  <!-- Section Body -->
  <section>
    <div class="container bg-danger-subtle">
      <div class="row">
        <div class="col-12">
          <h1>Body</h1>
        </div>
      </div>     
    </div>
  </section>

  <!-- Section Footer -->
  <section>
    <div class="container bg-dark-subtle">
      <div class="row">
        <div class="col-12">
          <h1>Footer</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <router-outlet />
        </div>
      </div>
    </div>
  </section>
</div>